// General
NET "CLK_50MHZ" LOC = "C9";

// MIDI input on IP35 (input-only pin on FX2-BB)
NET "MIDI_IN" LOC = "D12"; 

// DAC output
// TODO

// Debug LEDs
NET "DBG_LED<0>" LOC = "F12";
NET "DBG_LED<1>" LOC = "E12";
NET "DBG_LED<2>" LOC = "E11";
NET "DBG_LED<3>" LOC = "F11";
NET "DBG_LED<4>" LOC = "C11";
NET "DBG_LED<5>" LOC = "D11";
NET "DBG_LED<6>" LOC = "E9";
NET "DBG_LED<7>" LOC = "F9";


//DAC
NET "SYNC" LOC = "A6";
NET "DOUTA" LOC = "B6";
NET "DOUTB" LOC = "E7";
NET "SCLK" LOC = "F7";