// General
NET "CLK_50MHZ" LOC = "C9";

// MIDI input on IP35 (input-only pin on FX2-BB)
NET "MIDI_IN" LOC = "D12"; 

// Debug LEDs
NET "DBG_LED<0>" LOC = "F12";
NET "DBG_LED<1>" LOC = "E12";
NET "DBG_LED<2>" LOC = "E11";
NET "DBG_LED<3>" LOC = "F11";
NET "DBG_LED<4>" LOC = "C11";
NET "DBG_LED<5>" LOC = "D11";
NET "DBG_LED<6>" LOC = "E9";
NET "DBG_LED<7>" LOC = "F9";

// DAC
NET "SPI_MOSI" LOC = "T4" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "SPI_SCK" LOC = "U16" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "DAC_CS" LOC = "N8" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "DAC_CLR" LOC = "P8" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
